@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@300;400;500;600&family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

.container {
    width: 100%;
    max-width: 1900px;
    background: #FFFFFF;
    margin: 0 auto;
}

.navbar {
    display: flex;
    width: 100%;
    height: 70px;
    background: #313131;
    align-items: center;
    justify-content: space-between;
}

.img-logo {
    width: 27px;
    height: 27px;
    margin: 0 27px 0 29px;
}

.logo {
    font-family: Open Sans;
    font-weight: bold;
    font-size: 22px;
    color: #FFFFFF;
    text-decoration: none;
}

.navbar-menu {
    display: flex;
}

.navbar-menu-links {
    font-family: Open Sans;
    font-size: 15px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0 18px;
    text-decoration: none;
}

.fa-search {
    display: flex;
    width: 68px;
    height: 70px;
    background: #000000;
    border: none;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
}

.fa-search img {
    width: 17px;
    height: 17px;
}

.navbar-menu-links:hover {
    font-family: Open Sans;
    font-size: 15px;
    text-transform: uppercase;
    color: #14B9D5;
}

.header-bg {
    display: flex;
    background-image: url("../img/header-background.png");
    width: 100%;
    height: 369px;
    flex-direction: column;
    align-items: center;
}

.mein-title {
    display: flex;
    font-family: Open Sans;
    font-weight: bold;
    font-size: 27px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 164px;
}

.battom-header {
    margin-top: 44px;
    display: flex;
    align-items: flex-end;
}

.btm-header {
    display: block;
    border-radius: 3px;
    text-align: center;
    width: 170px;
    padding: 16px;
    margin: 10px;
    font-size: 18px;
    line-height: 25px;
    font-family: Open Sans;
    color: #FFFFFF;
    text-decoration: none;
}

.battom-subscribe {
    background: #89CA62;
}

.battom-articles {
    background: #14B9D5;
}

.most-popular-section {
    background: #F2F2F2;

}

.section-title {
    font-family: Open Sans;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-align: center;
    text-transform: uppercase;
    color: #18B4CF;
    padding: 48px 0 51px 0;
}

.most-popular {
    display: flex;
    flex-flow: column wrap;
    max-height: 898px;
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

.most-popular-content {
    margin: 0 15px 30px;
    text-align: center;
}

.title-most-popular {
    padding: 20px 0 22px;
    font-family: Open Sans;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    background: #FFFFFF;
}

.our-clients-section {
    background-image: url("../img/our_cients/parallax-bg.jpeg");
    width: 100%;
    background-attachment: fixed;
}

.title-our-clients {
    font-family: Open Sans;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    text-transform: uppercase;
    padding: 106px 0 0 0;
    color: #FFFFFF;
}

.title-our-clients::after {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background: #18B4CF;
    margin: 87px auto 0;
}

.our-clients {
    display: grid;
    grid-auto-flow: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding: 105px 0 192px;
}

.item-our-clients {
    margin: 0 25px;
}

.rated {
    display: grid;
    grid-auto-flow: column;
}

.hn {
    display: grid;
    grid-template-columns: 277px 35px 242px 60px 242px 35px 277px;
    grid-template-rows: 259px 418px 416px 259px;
    grid-row-gap: 43px;
    grid-column-gap: 0;
    margin: 0 auto 71px;
    max-width: 1170px;
    width: 100%;
    justify-content: space-between;
}

.hn-links {
    text-decoration: none;
}

.hn-links-line {
    display: flex;
    align-items: center;
}

.hn1 {
    grid-column: 1/6;
    background: #F9F7F7;
}

.hn2 {
    grid-column: 7/8;
    background: #F9F7F7;
}

.hn3 {
    grid-column: 1/4;
    background: #F9F7F7;
}

.hn4 {
    grid-column: 5/8;
    background: #F9F7F7;
}

.hn5 {
    grid-column: 1/4;
    background: #F9F7F7;
}

.hn6 {
    grid-column: 5/8;
    background: #F9F7F7;
}

.hn7 {
    grid-column: 1/2;
    background: #F9F7F7;
}

.hn8 {
    grid-column: 3/8;
    background: #F9F7F7;
}

.hn-titles {
    font-family: Open Sans;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: right;
    align-items: center;
    color: #353A3D;
}

.hn-text {
    display: block;
    font-family: Open Sans;
    font-size: 14px;
    line-height: 21px;
    align-items: center;
    text-align: right;
    margin-top: 15px;
    color: #5B6469;
}

.hn-content {
    background: #F9F7F7;
    padding: 14px 14px 0 14px;
}

.center {
    text-align: center;
}

.footer {
    display: grid;
    grid-auto-flow: column;
    height: 80px;
    background: #000000;
    justify-content: space-around;
    align-items: center;
}

.copyright {
    font-family: Open Sans;
    font-size: 13px;
    color: #FFFFFF;
}